{{ define "main" }}
<div class="blog-header">
    <h1 class="blog-title">{{ .Title }}</h1>
    {{ if .Content }}
    <p class="blog-subtitle">{{ .Content | plainify }}</p>
    {{ end }}
</div>

{{ if .Data.Pages }}
<ul class="blog-posts">
    {{ range .Data.Pages }}
    <li class="blog-post-item" onclick="window.location.href='{{ .Permalink }}'">
        <div class="post-date">
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2 '06" }}</time>
        </div>
        <div class="post-content">
            <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            {{ if .Params.description }}
            <p class="post-description">{{ .Params.description }}</p>
            {{ end }}
        </div>
    </li>
    {{ end }}
</ul>
{{ else }}
<p>No posts yet.</p>
{{ end }}
{{ end }}